<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @rest.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @rest.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @rest.description %>
</p>

<p>
  <strong>Owners:</strong>
  <%= @rest.owner %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @rest.phone %>
</p>

<%= image_tag(@map_url_string, alt: "Google Map") %>
<br>
<%= link_to 'Edit', edit_rest_path(@rest) %> |
<%= link_to 'Back', rests_path %> | 
<%= link_to 'Reservations', new_reservation_path(@rest) %>
