<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Restaurantinator", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if owner_signed_in? %>
          <li><%= link_to 'New Restaurant', new_rest_path %></li>
        <%end%>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Reservations",  new_reservation_path   %></li>
        <li><%= link_to "Restaurants",  rests_path   %></li>
        <% if user_signed_in? %>
          <li><%= link_to "Log out", destroy_user_session_path, method: :get %></li>
        <%else%>
          <li><%= link_to "Log in", new_user_session_path %></li>
        <%end%>
      </ul>
    </nav>
  </div>
</header>